<nz-layout class="app-layout">
  <nz-sider nzTheme="light" [nzWidth]="256">
    <div class="logo">
      <img src="assets/svg/logo.svg" alt="Logo" />
    </div>

    <nav>
      <ul nz-menu nzMode="inline">
        <li nz-menu-item *ngFor="let item of menuItems" [routerLink]="item.link" routerLinkActive="selected">
          <nz-icon [nzType]="item.icon" nzTheme="outline"></nz-icon>
          {{ item.label }}
        </li>
      </ul>
    </nav>

  </nz-sider>



  <!-- Content -->
  <nz-content class="inner-content">
    <app-header></app-header>
    <ng-content></ng-content>
  </nz-content>
</nz-layout>